body{
    background-color: antiquewhite
}
cite{
    font-size: 18px;
}
.quote-box{
    margin: 15%;
    padding: 15px 0 5px 15px;
    border-radius: 8px;
    background-color: lightgray;
    box-shadow: 0 0 10px inset;
}

#btnNewQuote, #btnTweet{
    float: right;    
    margin: -60px 20px 0px 10px;
    
}

#btnTweet{
    margin-right: 90px;
}
#quoteText{
    text-align: justify;
}

@media (max-width: 500px){
    #btnNewQuote, #btnTweet{
        float: none;
        margin: 0px 20px 10px 6px;
    }
    #btnNewQuote{
        float: right;       
    }
}
