body{
    background-color: antiquewhite
}
cite{
    font-size: 18px;
}
.quote-box{
    margin: 15%;
    padding: 15px 0 5px 15px;
    border-radius: 8px;
    background-color: lightgray;
    box-shadow: 0 0 10px inset;
}

#btnNewQuote, #btnTweet{
    float: right;    
    margin-right: 20px;
    margin-left:10px;
    margin-top: -60px; 
}
#btnTweet{
    margin-right: 90px;
}
#quoteText{
    text-align: justify;
}

@media (max-width: 500px){
    #btnNewQuote, #btnTweet{
        float: none;
        margin-top: 0;
        margin-bottom: 10px;
    }
    #btnNewQuote{
        float: right;
        margin-right: 20px;
        
    }
}
